<!DOCTYPE html>
<html>
    <head>
        <title>Tranlator</title>
        {% block head_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block container %} {% endblock %}
        </div>
        {% block foot_js %}
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>